<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zyy19">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_tou"
        android:label="@string/my_name"
        android:roundIcon="@mipmap/ic_tou"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        android:testOnly="false">
        <activity android:name=".WebActivity"></activity>
        <activity android:name=".EdtActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".list.NetListActivity" />
        <activity android:name=".MainActivity">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>